<tr>
  <td><%= link_to product.name, product %></td>
  <td><%= product.prize %></td>
  <% if !current_user.nil? %>
    <td><%= product.amount %></td>
    <td><%= product.amount_sent %></td>
  <% end %>
</tr>
