<h1>All products</h1>

<table class="products">
  <tr>
    <td>Name</td>
    <td>Prize</td>
    <% if !current_user.nil? %>
      <td>Amount</td>
      <td>Amount sent</td>
    <% end %>
  <%= render @products %>
</table>

<%= link_to "Send amount", send_amount_path %>
